TeamProject/Pages/__pycache__/Degree.cpython-312.pyc
TeamProject/Pages/__pycache__/Course.cpython-312.pyc
TeamProject/Pages/__pycache__/Goal.cpython-312.pyc
TeamProject/Pages/__pycache__/Instructor.cpython-312.pyc
TeamProject/Pages/__pycache__/Section.cpython-312.pyc
TeamProject/Utilities/__pycache__/Config.cpython-312.pyc
TeamProject/Utilities/__pycache__/MySql.cpython-312.pyc
TeamProject/Utilities/__pycache__/Validation.cpython-312.pyc
TeamProject/__pycache__/Menu.cpython-312.pyc
TeamProject/__pycache__/Menu.cpython-312.pyc
TeamProject/__pycache__/Menu.cpython-312.pyc
TeamProject/__pycache__/Menu.cpython-312.pyc
TeamProject/__pycache__/Menu.cpython-312.pyc
